
// Google Fonts imports

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

//Font Variables
$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;

//Styles
body {
    font-family: $roboto;
    font-weight: normal;
    font-size: 16px;
}

a { 
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}