@use "../abstracts" as a;

.footer {
	background-color: a.$background-dark;
	color: a.$text-light;
	@include a.flex-column;
	margin-top: 0;

	&__title {
		padding-bottom: 1rem;
	}

	&__logo {
		font-family: 'Shrikhand', serif;
		font-size: 1rem;
		font-weight: 400;
	}

	&__link {
		color: a.$text-light;
	}

	&__icon {
		width: .5rem;
		padding-right: 1.5rem;
	}

	&__item {
		line-height: 1.5rem;
	}
}

@include a.tablet {
	.footer__list {
		margin: auto;
	}
}
@include a.desktop {

.footer__list {
	margin: auto;
	@include a.flex-center;
gap: 2rem;
}
.footer__title {
	padding: 0;
}
}
