@use "../abstracts" as a;

.nav {
    &__list {
       @include a.flex-center-column;
    }

    &__logo{
        padding-bottom: 1rem;
    }
	

    &__slogan {
        background-color: a.$background-medium;
        align-self: stretch;
        


        .slogan--big {
            padding-top: 2.5rem;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
        }

        .slogan--small {
            font-size: 1.15rem;
            padding: 1.5rem 3rem;
            text-align: center;
            color: a.$text-medium;

        }
    }

    &__button {
        padding-bottom: 2.5rem;
        background-color: a.$background-medium;
        align-self: stretch;
        text-align: center;

    }
}
