@use "../abstracts" as a;
.restaurants {
	background-color: a.$background-medium;
	@include a.flex-column;
	margin-bottom: 0;
	padding: 2.5rem 1.5rem;

	&__title {
		padding: 1rem 0;
		flex: 1;
	}

	&__list {
		@include a.flex-column;
		gap: 1rem;
		flex: 1;
	}

	&__link {
		flex: 1;
		@include a.flex-column;
	}
}

@include a.tablet {
	.restaurants {
		padding-top: 1rem;
		padding-bottom: 5rem;

		&__title {
		
			padding-bottom: 2rem;
		}

		&__list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__card {
			flex: 1 50%;
			max-width: 47%;
			min-width: 0;
			display: flex;

		}
			.card__link {
				justify-content: flex-start;
				position: relative;
			}

			.card__like {
				position: absolute;
				bottom: 0.5rem;
				right: 1rem;
				margin: 0;
			}
		
}}
	


@include a.desktop {
	.restaurants {
		margin-right: auto;
		flex: 2 65%;
		padding-bottom: 2rem;
		border-radius: a.$border-radius--card;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		&__list {
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 2rem;
		}
		&__card {
			flex: 1 50%;
			max-width: 40%;
			min-width: 0;
	}
}
}