@use "../abstracts/" as a;
.button {
	padding: 0.75rem 1.5rem;
	color: a.$text-light;
	border-radius: a.$border-radius--button;
	border: none;
	@include a.box-shadow;
	@include a.gradient-button;
	display: inline-block;
	width: 14rem;
	&:hover {
		@include a.box-shadow--dark;
		@include a.gradient-button--light;
		cursor: pointer;
	}

	&__container {
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 4rem;
	}
}
