@use '../abstracts/' as a;
.card {
	background-color: a.$background-light;
	@include a.box-shadow;
	border-radius: a.$border-radius--card;
	position: relative;
	
	&__link {
		@include a.flex-center-vert;
		flex-wrap: wrap;
	}

	&__new {
		position: absolute;
		top: 5%;
		right: 2.5%;
		background-color: a.$tertiary-color;
		padding: .25rem 2rem;
		color: a.$text-new;
		font-weight: 700;

	}
	
	&__img {
		border-radius: 1rem 1rem 0 0;
		flex: 1 100%;
		object-fit: cover;
		height: 15rem;
		
	}
	
	&__info {
		margin: 1rem;
		@include a.flex-column;
		
	}
	
	&__title {
		//!  INSERT FONT VALUES
	}
	
	&__location {
		//!  INSERT FONT VALUES
	}
	 
	


	}
