@use '../abstracts/' as a;
.menu-item__card {
    background-color: a.$background-white;
    color: a.$text-black;
	@inlcude a.box-shadow;
    display: flex;

    .menu-item__info {
        flex: 1;
        .menu-item__title {

            //! INSERT FONT VALUES

        }

        .menu-item__desc {

            //! INSERT FONT VALUES
        }


    }

    .menu-item_price {
        flex: 0;
        align-items: flex-end;

        //! INSERT FONT VALUES
    }
}