@use '../abstracts/' as a;
.vcard {
	background-color: a.$background-light;
	@include a.box-shadow;
	border-radius: 1rem;
	
	&__link {
		@include a.flex-center-vert;
		flex-wrap: wrap;
	}
	
	&__img {
		border-radius: 1rem 1rem 0 0;
		flex: 1 100%;
		object-fit: cover;
		height: 15rem;
		
	}
	
	&__info {
		margin: 1rem;
		@include a.flex-column;
		
	}
	
	&__title {
		//!  INSERT FONT VALUES
	}
	
	&__location {
		//!  INSERT FONT VALUES
	}
	 
	&__like {
		font-size: 1.5rem;
		margin: 1rem 1.5rem 1rem auto; 
		position: relative;
	

		&--fill {
			position: absolute;
			top: 0;
			@include a.gradient-heart;
			background-clip: text;
			color: transparent;
			scale: 0;
			transition: scale 500ms ease-out 150ms;

			

		}

		&:hover &--fill{
			scale: 1.03;

		}


	}
}