@use "../abstracts/" as a;
.card {
	background-color: a.$background-light;
	@include a.box-shadow;
	border-radius: a.$border-radius--card;
	position: relative;

	&__link {
		@include a.flex-center-vert;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__new {
		position: absolute;
		top: 5%;
		right: 2.5%;
		background-color: a.$tertiary-color;
		padding: 0.25rem 2rem;
		color: a.$text-new;
		font-weight: 700;
	}

	&__img {
		border-radius: 1rem 1rem 0 0;
		flex: 1 100%;
		object-fit: cover;
		height: 15rem;
	}

	&__info {
		margin: 1rem;
		@include a.flex-column;
		overflow: hidden;
		flex: 1;
	}

	&__title {
		//!  INSERT FONT VALUES
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__description {
		//!  INSERT FONT VALUES
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__price {
		margin: auto 1.5rem 1rem auto;
	}

	&__add {
		border-top-right-radius: a.$border-radius--card;
		border-bottom-right-radius: a.$border-radius--card;
		background-color: a.$tertiary-color;
		color: a.$text-light;
		align-self: stretch;
		font-size: 1.5rem;
		text-align: center;
		padding: 1.375rem 0;
		width: 0;
		overflow: hidden;
		transition: width 300ms ease-out 100ms;
	}

	.fa-circle-check {
		transform: rotate(360deg);
		transition: transform 400ms ease-out 200ms;
	}

	&:hover .fa-circle-check {
		transform: rotate(0deg);
	}

	&:hover &__add {
		width: 15%;
	}
}

@include a.tablet {
	.card {
		
		&__title {
			font-size: 1rem;

		}

		&__add {
			font-size: 1rem;
		}
	}
}
