@use '../abstracts/' as a;
.card {
	background-color: a.$background-white;
	@include a.box-shadow;
	border-radius: 1rem;
	
	&__link {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	
	&__img {
		border-radius: 1rem 1rem 0 0;
		flex: 1 100%;
		object-fit: cover;
		height: 15rem;
		
	}
	
	&__info {
		padding: 1rem;
		@include a.flex-column;
		
	}
	
	&__title {
		//!  INSERT FONT VALUES
	}
	
	&__location {
		//!  INSERT FONT VALUES
	}
	 
	&__like {
		margin-left: auto;
		font-size: 1.5rem;
		padding: 1rem 2rem;
		

	}
}