@use '../abstracts/' as a;

.like {
    font-size: 1.5rem;
    margin: 1rem 1.5rem 1rem auto; 
    position: relative;
    cursor: pointer;


    &--fill {
        position: absolute;
        top: 0;
        @include a.gradient-heart;
        background-clip: text;
        color: transparent;
        scale: 0;
        transition: scale 500ms ease-out 150ms;

        

    }

    &:hover &--fill{
        scale: 1.03;

    }
}