@use "../abstracts/" as a;

.card--menu {
	animation-duration: 0.75s;
	animation-name: fadeIn;
	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	animation-fill-mode: backwards;
}
@for $i from 1 through 3 {
	.card--menu:nth-child(#{$i}) {
		animation-delay: $i * 300ms;
	}
}
