//Breakpoints Variables
$tablet: 768;
$large: 1024;
$desktop: 1280;

//Breakpoints Map

// Color Variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99ecd0;
$background-grey: #f2f2f2;
$background-white: #ffffff;
$background-black: #404040;
$text-black: #000000;
$text-white: #ffffff;
$text-grey: #888888;


//Color Maps
