//Breakpoints Variables
$tablet: 768;
$large: 1024;
$desktop: 1280;

// Color Variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99ecd0;
$background-medium: #f2f2f2;
$background-light: #ffffff;
$background-dark: #404040;
$text-dark: #000000;
$text-light: #ffffff;
$text-medium: #888888;
$text-new: #008766;
$search-background: #dbdbdb;

//Margin, Padding, Border Variables

$border-radius--card: 1rem;
$border-radius--button: 2rem;
$border-radius--menu: 3rem;

//Hero Background Image Maps

$background-img: (
	bastille: url(../../images/restaurants/bastille.jpg),
	palette: url(../../images/restaurants/full-palette.jpg),
	gourmand: url(../../images/restaurants/le-gourmand.jpg),
	enchanted: url(../../images/restaurants/enchanted-plate.jpg),
);
