//Breakpoints Variables
$tablet: 768;
$large: 1024;
$desktop: 1280;

//Breakpoints Map

// Color Variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99ecd0;
$background-medium: #f2f2f2;
$background-light: #ffffff;
$background-dark: #404040;
$text-dark: #000000;
$text-light: #ffffff;
$text-medium: #888888;
$search-background: #7b7b7b;


//Color Maps
