@forward './home';
@forward './restaurant';


body {

   
     section, footer {
        padding: 1rem;

    }
    
    ol, ul {
        padding: 0;
    }

    main {
        position: relative;
    }
}